* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  background-color: white;
  width: 100%;
}

body {
  background-color: white;
}

p {
  font-size: 1.2rem;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  line-height: 160%;
}

h1 {
  font-size: 2.4rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 140%;
  font-weight: bolder;
}

header {
  width: 100%;
}

/*** Navigation bar ***/
.nav {
  background-color: white;
  margin: auto;
  position: fixed;
  padding: 2rem;
  width: 100%;
  z-index: 10;
}

.nav-menu-container {
  display: none;
}
.personal-logo {
  float: left;
}
.hamburger-menu {
  float: right;
}
h1.greeting {
  font-size: 3rem
}
h3.tagline {
  font-size: 2rem;
}
/*** Hero image section ***/
.hero {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  line-height: 140%;
  text-align: center;
  width: 100%;
}
.bio-imagery {
  /* max-width: 100%; overflow: hidden;
  position: relative; */
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5000;
}
.bio-imagery img {
  /* max-width: initial; Maybe optional  */
}
.bio-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 55%;
  left: 35%;
  position: absolute;
  transform: translate(-34%, -65%);
  width: 100%;
}
.intro-copy {
  font-size: 1.6em;
  padding-left: 5%;
  padding-right: 5%;
}
.headshot {
  margin-top: 5%;
  margin-bottom: 5%;
}
p.hero-tagline {
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  margin-top: 3%;
  text-align: center;
}


/*** Main bio section ***/
main.bio {
  text-align: left;
  padding: 4%;
  width: 100%;
}
.intro {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2%;
}
.bio-part-1 {
  /* width: 100%; */
}
p.pull-quote {
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  padding: 5%;
  text-align: left;
}
.bio-part-2 {
  /* width: 100%; */
}
footer {
  text-align: center;
  padding: 4em;
}
.footer-cta {
  padding: 4em;
  text-align: center;
}
.social-media-icons {
  background-color: white;
  color: #86A681;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  text-decoration: none;
}
.social-media-icons a {
  text-decoration: none;
}
/** controls size of social media icons **/
.social-media-icons > ul {
  margin: auto;
  display: flex;
}
.green-button {
  background-color: #86A681;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
}
address {
  padding: 1em;
  text-align: center;
}

/*** Media queries ***/

/*** For tablet ***/
/*** when screen is larger than than 768px width, it changes to this ***/
@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3rem;
  }
  p.pull-quote {
    font-size: 2.2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80rem;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 4rem;
    width: 80rem;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-menu-links {
    color: black;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    display: flex;
    text-decoration: none;
  }
  .nav-menu-links
  li {
    margin-left: 6rem;
  }
  .hero {
    background-color: white;
    color: black;
    font-family: 'Domine', Georgia, Times, serif;
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
    width: 80rem;
  }
  .bio-imagery {
    max-width: 100%; overflow: hidden;
    position: relative;
  }
  .bio-imagery img {
    max-width: initial; /* Maybe optional. */
  }
  .bio-intro-container {
    display: flex;
    flex-direction: row-reverse;
    top: 50%;
    left: 40%;
    position: absolute;
    transform: translate(-34%, -66%);
    text-align: left;
    width: 100%;
  }
  .intro-copy {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 8%;
    margin-top: 15%;
    text-align: left;
  }
  p.hero-tagline {
    font-family: 'Domine', Georgia, Times, serif;
    margin-top: 10%;
    font-size: 2rem;
    text-align: left;
  }
  .headshot {
    margin-top: 10%;
  }

}

/*** For desktop ***/
/*** when screen is larger than 1024px width, it changes to this ***/
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.8rem;
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    line-height: 160%;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100rem;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100rem;
  }
  .hero {
    background-color: white;
    color: black;
    font-family: 'Domine', Georgia, Times, serif;
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
    width: 100rem;
  }
  .bio-imagery {
    position: relative;
    max-width: 100%;
  }
  /* .bio-imagery img {
    max-width: initial; /* Maybe optional. */

  .bio-intro-container {
    display: flex;
    flex-direction: row-reverse;
    top: 40%;
    left: 40%;
    margin-top: 5%;
    position: absolute;
    transform: translate(-34%, -66%);
    text-align: left;
    width: 85rem;
  }
  .intro-copy {
    display: flex;
    flex-direction: column;
    /* margin-left: 3%; */
    margin-right: 2%;
    margin-top: 15%;
    text-align: left;
  }
  p.hero-tagline {
    font-family: 'Domine', Georgia, Times, serif;
    margin-top: 5%;
    font-size: 2.4rem;
    text-align: left;
  }
  .headshot {
    margin-top: 10%;
  }
  main.bio {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    width: 100rem;
  }

}
