* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  background-color: white;
  width: 100%;
}

body {
  background-color: red;
}

p {
  font-size: 1.4rem;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  line-height: 140%;
  margin-left: 4%;
  margin-right: 4%;
}

a {
  color: #4A23F1;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  padding: 4%;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
  padding: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.8rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: left;
}
h3 {
  font-size: 1.4rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 160%;
}

h4 {
  font-size: 1.4rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: left;
}
img {
  text-align: center;
}

article {
  text-align: left;
  padding-left: 4%;
}

header {
  width: 100%;
}

/*** Navigation bar ***/
.nav {
  background-color: white;
  margin: auto;
  padding: 1.6rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.personal-logo {
  float: left;
  padding-top: 2%;
}

.nav-menu {
  float: right;
  display: inline-flex;
}

.nav-menu-links {
  color: black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  float: right;
  padding-top: 8%;
  padding: 2rem;
  text-decoration: none;
}

/*** Hero image section ***/
.project-hero {
  background-color: white;
  color: black;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  line-height: 140%;
  padding-top: 70%;
  padding: 3rem;
  text-align: center;
  width: 100%;
}

.cloudspark-logo {
  margin-top: 25%;
  margin-bottom: 5%;
}
.cloudspark-hero-image {
  text-align: center;
  margin-top: 10%;
  width: 100%;
}
article.cloudspark-hero {
  text-align: center;
}
.see-prototype {
  color: #4A23F1;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: .8em;
}
main.cloudspark-case-study {
  width: 100%;
}
.project-nav {
  display: none;
}
.project-overview {
  text-align: center;
  width: 100%;
}
.what-i-did {
  text-align: center;
}
.role {
  margin-bottom: 5%;
}
.deliverables {
  margin-bottom: 5%;
}
.tools-used {
  margin-bottom: 5%;
}
article.problem {
  margin-bottom: 5%;
}
.research-intro {
  margin-top: 5%;
  background-color: #EDEBEB;
}
.research-image {
  width: 100%;
}
.persona-container {
  margin-bottom: 10%;
}
.persona-copy {
  margin: 5%;
}
.persona-images {
  text-align: center;
}
#persona {
  width: 50%;
}
article.personas {
  margin-top: 10%;
}
.competitive-analysis {
  margin-bottom: 5%;
}
.competitive-analysis-images {
  text-align: center;
}
.user-stories {
  margin-bottom: 5%;
}
.user-stories-image {
  width: 100%;
  margin: 0 auto
}
.user-flows {
  margin-bottom: 5%;
}
.user-flows-image {
  width: 100%;
}
.sketching {
  margin-bottom: 8%;
  width: 100%;
}
.wireframe-images {
  text-align: center;
}
.user-testing {
  margin-bottom: 8%;
}
.user-testing-images {
  text-align: center;
  width: 100%;
}
ul.user-testing-changes {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 140%;
  list-style: decimal;
  padding-left: 6%;
}
.branding {
  margin-bottom: 8%;
}
.branding-images {
  text align: center;
  width: 100%;
}
.logo-image {
  text-align: center;
  margin-bottom: 8%;
}
.style-guide {
  margin-bottom: 8%;
}
.asset-images {
  text-align: center;
  width: 100%;
}
.user-testing-one {
  margin-bottom: 8%;
}
.preference-testing {
  margin-bottom: 8%;
  margin-top: 8%;
}
.hifi-user-testing {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 140%;
  list-style: decimal;
  padding-left: 6%;
}
.hifi-user-testing-images {
  text-align: center;
}
.preference-testing-images{
  text-align: center;
  width: 100%;
}
.final-prototype-images {
  text-align: center;
  width: 100%;
}
.what-i-learned {
  margin-top: 8%;
}
.back-to-top {
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
.green-button {
  background-color: #86A681;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.4em;
}

footer {
  text-align: center;
  padding: 4em;
}
.footer-cta {
  padding: 4em;
  text-align: center;
}
.footer-icons{
  display: inline-flex;
  padding: 4em;
}
address {
  padding: 1em;
}

/*** Media queries ***/

/*** For tablet ***/
/*** when screen is larger than than 768px width, it changes to this ***/
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 70rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }
  .personal-logo {
    justify-content: flex-start;
  }
  .nav-menu {
    justify-content: flex-end;
  }
  h1 {
    text-align: left;
    font-size: 2.5em;
    padding: 7%;
  }
  .project-nav {
    color: white;
    background-color: #4A23F1;
    display: inline-flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    width: 100%;
  }
  .project-hero {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    padding: 1.4rem;
    text-align: left;
    width: 100%;
  }
  article.cloudspark-hero {
    display: flex;
    flex-direction: column;
    line-height: 140%;
  }
  .what-i-did {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 4%;
    padding-right: 8%;
    text-align: left;
    width: 100%;
  }
  h4.what-i-did {
    text-align: left;
  }
  .problem-container {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    padding: 1em;
  }
  article.problem {
    flex-direction: column;
    justify-content: flex-start;
    width:
  }
  .problem-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .research-intro {
    padding-bottom: 10%;
  }
  .research-insights {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
  }
  article.research {
    display: flex;
    flex-direction: column;
  }
  .research-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
  }
  .user-personas {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 5%;
    padding-top: 6%;
  }
  .persona-images {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
  }
  .competitive-analysis {
    display: flex;
    flex-direction: row;
    padding-top: 6%;
  }
  .competitive-analysis-images {
    display: flex;
    flex-direction: row;
    padding-right: 4%;
  }
  .user-stories {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 4%;
    padding-top: 6%;
  }
  .user-stories-image{
    width: 40%;
    flex-direction: flex-end;
  }
  .user-flows {
    display: flex;
    flex-direction: row;
    padding: 1%;
  }
  .user-flows-image {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 10%;
  }
  article.sketching {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
  }
  .sketching {
    padding-right: 2%;
  }
  .wireframe {
    padding-bottom: 10%;
  }
  .user-testing {
    background-color: #EDEBEB;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-right: 10%;
  }
  .user-testing-images {
    padding-left: 8%;
    text-align: center;
  }
  .branding {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 7%;
    padding-bottom: 7%;
  }
  article.branding {
    display: flex;
    flex-direction: column;
  }
  .logo-image {
    padding-top: 3%;
    padding-bottom: 4%;
  }
  article.style-guide {
    padding-left: 5%;
    padding-right: 5%;
  }
  .asset-images {
    padding: 4%;
  }
.preference-testing {
  padding-top: 4%;
  padding-bottom: 4%;
  }
.preference-testing-images {
  display: inline-flex;
  text-align: center;
  width: 70%;
  }
  article.what-i-learned {
    padding-top: 7%;
    width: 80%;
  }
}

/*** For desktop ***/
/*** when screen is larger than 1024px width, it changes to this ***/
@media screen and (min-width: 1024px) {
  .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100rem;
  }
}
