* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  background-color: yellow;
  width: 100%;
}

body {
  background-color: red;
}

p {
  font-size: 1.4rem;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  line-height: 140%;
}

h1 {
  font-size: 2.2rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
  text-align: center;
}
h2 {
  font-size: 1.8rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  text-align: left;
}

h4 {
  font-size: 1.4rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  text-align: left;
}
article {
  text-align: left;
  padding: 4%;
}

header {
  width: 100%;
}

/*** Navigation bar ***/
.nav {
  background-color: white;
  margin: auto;
  padding: 1.6rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.personal-logo {
  float: left;
  padding-top: 2%;
}

.nav-menu {
  float: right;
  display: inline-flex;
}

.nav-menu-links {
  color: black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  float: right;
  padding-top: 8%;
  padding: 2rem;
  text-decoration: none;
}

/*** Hero image section ***/
.project-hero {
  background-color: white;
  color: black;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  line-height: 140%;
  padding-top: 70%;
  padding: 3rem;
  text-align: center;
  width: 100%;
}

.cloudspark-logo {
  margin-top: 25%;
}
.cloudspark-hero-image {
  text-align: center;
  margin-top: 10%;
}
.see-prototype {
  color: #4A23F1;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}
main.cloudspark-case-study {
  width: 100%;
}
.project-nav {
  display: none;
}
.project-overview {
  padding: 4%;
  text-align: center;
  width: 100%;
}
.role {
  text-align: center;
}
.research-intro {
  background-color: #EDEBEB;
  padding: 4%;
}
.research-image {
  width: 80px;
}
.see-research {
  color: #4A23F1;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.user-personas {
  padding: 4%;
}
.competitive-analysis {
  padding: 4%;
}
.user-stories-image {
  width: 100%;
}
.user-flows-image {
  width: 100%;
}
.user-flows {
  padding: 4%;
}



.back-to-top {
  margin: auto;
  text-align: center;
}
.green-button {
  background-color: #86A681;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.4em;
}

footer {
  text-align: center;
  padding: 4em;
}
.footer-cta {
  padding: 4em;
  text-align: center;
}
.footer-icons{
  display: inline-flex;
  padding: 4em;
}
address {
  padding: 1em;
}

/*** Media queries ***/

/*** For tablet ***/
/*** when screen is larger than than 768px width, it changes to this ***/
@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
  .container {
    margin: 0 auto;
    width: 70rem;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .personal-logo {
    justify-content: flex-start;
  }
  .nav-menu {
    justify-content: flex-end;
  }
  .project-nav {
    color: white;
    background-color: #4A23F1;
    display: inline-flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    width: 100%;
  }
}

/*** For desktop ***/
/*** when screen is larger than 1024px width, it changes to this ***/
@media screen and (min-width: 1024px) {
  .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100rem;
  }
}
