
/********** Typefaces, styling, colors, buttons high level structure **********/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  width: 100%;
}

.large-container {
  width: 100%;
}

body {
  background-color: white;
}

p {
  font-size: 2rem;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  line-height: 160%;
}

h1 {
  font-size: 3rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
}
h2 {
  font-size: 2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  text-align: left;
}
h3 {
  font-size: 2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 160%;
}

h4 {
  font-size: 2.2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  text-align: left;
}
ul {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 160%;
  list-style-type: circle;
  padding-left: 25px;
}
ol {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 160%;
  list-style: decimal;
  padding-left: 25px;
}
/* li {
  font-size: 1.5em;
  line-height: 160%;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
} */
header {
  width: 100%;
}

a {
  text-decoration: none;
}

/*************************** Navigation bar ******************************/
.nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-menu-container {
  align-items: center;
}
.nav-menu-links {
  display: none;
}
.personal-logo {
  float: left;
  padding: 1em;
  width: 60px;
}
.hamburger-menu {
  background-color: white;
  cursor: pointer;
  border: none;
  float: right;
  padding: 1.5em;
}
.dropdown {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: white;
  background: #86A681;
  font-size: 2em;
  top: 100%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.dropdown a {
  color: white;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 4%;
  padding-top: 4%;
  text-decoration: none;
}
.dropdown-content {
  display: none;
}

.dropdown a:hover {
  color: #86A681;
  background-color: #f1f1f1;
}
/* .show {display:block;} */
.recent-work a {
  color: black;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1.5em;
  margin: -1.5em;
}
.recent-work a:hover{
  color: #23D1DD;
}

h1.greeting {
  font-size: 3.5rem;
  font-weight: 200;
}
p.tagline {
  font-family: 'Domine', Georgia, serif;
  font-size: 2.5rem;
}
/********************************* Footer ***************************************/
footer {
  text-align: center;
  padding: 4em;
  margin-bottom: 0em;
}
.footer-cta {
  padding: 4em;
  text-align: center;
}
.social-media-icons {
  background-color: white;
  color: #86A681;
  display: flex;
  flex-direction: row;
  padding: 1rem;

  justify-content: center;
  text-decoration: none;
}
.social-media-icons a {
  text-decoration: none;
  text-align: center;
}
/** controls size of social media icons **/
.social-media-icons > ul {
  margin: auto;
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}
address {
  padding: 1em;
}
/************************************ MOBILE INDEX.HTML PAGE ************************************/
/*** Hero image section ***/
.hero {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  width: 100%;
}

.hero-tagline {
  margin-top: 20%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 160%;
}

h1.greeting {
  font-weight: 600;
  line-height: 170%;
}

.featured-work {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 500;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  padding-top: 3vw;
}
.featured-work a {
  text-decoration: none;
  color: black;
}

/*** bounce arrow ***/
.bounce-arrow {
  margin-top: 15%;
  text-align: center;
  width: 20px;
}
.arrow {
  text-align: center;
  margin: 1% 0;
}
.arrow a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1.5em;
  margin: -1.5em;
}
.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
/*** Case studies section ***/

main.case-studies {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
.case-study-tagline {
  margin-top: 3%;
  line-height: 160%;
}

/* .case-study-btn {
  color: white;
  background-color: #86A681;
  border: 2.4px solid #86A681;
  border-radius: 5px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: none;
} */

.case-study-btn {
  background-color: #23D1DD;
  color: white;
  border: 2.4px solid #23D1DD;
  border-radius: 5px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5%;
  margin-top: 1%;
  padding: 15px 32px;
  text-decoration: none;
}

.case-study-btn a {
  color: white;
  text-decoration: none;
}
.case-study-btn:hover {
  background-color: #00C3D0;
  color: white;
  text-decoration: none;
  border: 2.4px solid #00C3D0;
  border-radius: 5px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 15px 32px;
}

.case-study-btn:hover a {
  color: white;
  text-decoration: none;
}
.tag {
  color: #676767;
  border-radius: 25px;
  border: 2px solid #676767;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 28px;
  margin-right: 5px;
  margin-top: 3%;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}
.localgems {
  text-align: center;
}
.localgems-case-study {
  margin-bottom: 4rem;
}
.cloudspark-case-study {
  margin-bottom: 4rem;
}
#cloudspark-image {
  text-align: center;
  width: 90%;
  border-radius: 5px;
}
#cloudspark-image:hover {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}
.pantrybuddy {
  margin-top: 2rem;
  font-size: 1.1em;
}
.cloudspark {
  margin-top: 2rem;
  font-size: 1.1em;
}
#busybus-image {
  text-align: center;
  width: 90%;
  border-radius: 5px;
}
.about-me {
  background-image: url("../images/homepage/blue-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
  padding: 5%;
  position: relative;
  text-align: left;
}
article.short-bio {

}
.short-bio-content {
  margin-bottom: 2%;
}
.green-button {
  background-color: #86A681;
  border: 2.2px solid #86A681;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6em;
}
.green-button a {
  color: white;
}
.green-button:hover {
  background-color: #73966E;
  border: 2.2px solid #73966E;
}

article.process-tagline {
  font-size: 2rem;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding-top: 2em;
  text-align: left;
  padding-left: 5%;
}
p.process-tagline {
  line-height: 180%;
  padding-top: 3%;
}
.process-icon {
  text-align: left;
  padding-top: 4%;
  width: 50%;
}
.list {
  line-height: 180%;
  list-style-type: none;
  font-size: 2rem;
  padding-left: 0px;
}

.four-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 160%;
  padding-left: 5%;
}
.step {

}
p.bold {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  padding-top: 2%;
  font-weight: 500;
  line-height: 160%;
}
.testimonials {
  background: #EBE8E8;
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
  margin-top: 10%;
}
h1.what_ppl_think {
  font-size: 3rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
  margin-bottom: 0%;
  margin-top: 5%;
  padding-top: 10%;
}
/* Slideshow container */
.slideshow-container {
  /* height: 300px; */
  max-width: 600px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
  /* padding-bottom: 5%; */
  padding-top: 5%;
}
/* Slider/testimonials text */
.slider_text {
  bottom: 8px;
  color: #717171;
  font-size: 15px;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 8px 2em;
  position: relative;
  width: 100%;
  text-align: left;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  margin-bottom: 40px;
  margin-top: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}
.active, .dot:hover {
  background-color: #86A681;
}

.carousel-dot {
  padding-top: 3vw;
  position: relative;
}
.attribution {
  color: #86A681;
  font-size: 1.2em;
  margin-top: 5%;
  text-decoration: none;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/************************************ MOBILE CLOUDSPARK PROJECT.HTML PAGE ************************************/
/*** Hero image section ***/
.project-hero {
  background-color: white;
  color: black;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1rem;
  line-height: 140%;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.cloudspark-logo {
  margin-top: 15%;
  margin-bottom: 5%;
}
.cloudspark-hero-image {
  text-align: center;
  margin-top: 5%;
  width: 100%;
}
article.cloudspark-hero {
  text-align: center;
}
h4.cs-what-i-did {
  color: #AAAAAA;
}
.purple-link {
  color: #4A23F1;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}
.cloudspark-btn {
  background-color: #4A23F1;
  color: white;
  border: 2.2px solid #4A23F1;
  border-radius: 8px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  text-decoration: none;
  width: 257.91px;
}
.cloudspark-btn a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.cloudspark-btn:hover {
  background-color: #6D4BFF;
  border: 2.2px solid #6D4BFF;
  text-decoration: none;
}
main.localgems-case-study {
  text-align: left;
  margin-top: 4%;
  margin-bottom: 4%;
}
.project-nav {
  display: none;
}
h1.h1-section {
  font-size: 4rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
  text-align: center;
  padding-bottom: 8%;
  padding-top: 8%;
}
.project-overview {
  text-align: left;
  width: 100%;
}
.what-i-did {
  text-align: left;
}
.role {
  margin-bottom: 5%;
}
.deliverables {
  margin-bottom: 0%;
}
.tools-used {
  margin-bottom: 5%;
}
.duration {
  margin-bottom: 5%;
}
article.problem {
  margin-bottom: 5%;
  text-align: left;
}
.problem-container {
  margin-bottom: 10%;
  padding: 2em;
}
.research-intro {
  background-color: #EDEBEB;
  padding: 2rem;
  width: 100%;
}
ul.research-insights {
  list-style-type: circle;
}
.research-image {
  width: 100%;
}
.user-personas {
  padding: 2rem;
}
.lg-persona-container {
  margin-bottom: 10%;
  margin-top: 5%;
  width: 100%;
}
.persona-container {
  justify-content: center;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 5%;
  width: 75%;
}
.persona-images {
  text-align: center;
  width: 200px;
}
.persona-copy {
  margin-top: 5%;
  width: 100%;
}
.persona-story {
  font-size: 1.6em;
  color: #787776;
}
.jolene {
  padding-top: 5%;
  width: 80%;
}
.paul {
  padding-top: 5%;
  width: 80%;
}
/* #persona {
  width: 50%;
} */
article.personas {
  margin-top: 10%;
}
.competitive-analysis {
  padding: 2rem;
  margin-bottom: 10%;
}
.competitive-analysis-columns {
  padding: 1%;
}
.dropbox-vs-evernote {
  text-align: left;
  margin-left: 22%;
  padding: 5%;
}
.user-stories {
  background: #EBE8E8;
  text-align: left;
  margin-bottom: 8%;
  margin-top: 8%;
  padding: 2rem;
  width: 100%;
}
.user-stories-strategy {
  margin-top: 5%;
}
.Information-Architecture {
  margin-top: 4%;
  width: 100%;
}
.user-stories-image {
  width: 100%;
  margin: 0 auto
}
.user-flows {
  margin-bottom: 5%;
  padding: 2em;
}
.user-flows2 {
  /* display: none; */
}
.user-flows-image {
  width: 100%;
}
.sketching {
  padding: 2em;
  width: 100%;
}
.sketch-images {
  margin-top: 5%;
  width: 100%;
}
.wireframe-images {
text-align: center;
}
.user-testing {
  background-color: #EDEBEB;
  padding: 2em;
}
.user-testing-images {
  text-align: center;
  width: 85%;
}
ul.user-testing-changes {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 140%;
  list-style: decimal;
  padding-left: 3%;
}
.branding {
  margin-bottom: 8%;
}
article.branding {
  padding: 2em;
}
.branding-images {
  width: 100%;
}
article.logo-development {
  padding: 2em;
}
.logo-image {
  text-align: center;
  margin-bottom: 8%;
}
.style-guide {
  margin-bottom: 8%;
}
article.style-guide {
  padding: 2em;
  text-align: left;
}
.cs-moodboard {
  width: 100%;
}
.cs-asset-images {
  text-align: left;
  width: 100%;
}
.cs-brand-colors {
  padding: 1%;
  width: 100%;
}
.cs-typography {
  padding: 1%;
  width: 100%;
}
.user-testing-one {
  margin-bottom: 8%;
  padding: 2em;
}
.hifi-user-testing {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 140%;
  list-style: decimal;
  padding-left: 6%;
}
.hifi-user-testing-images {
  margin-top: 2%;
  text-align: center;
}
.lg-map-testing {
  /* margin-bottom: 8%; */
  margin-top: 2%;
  padding: 2em;
}
.preference-testing-images {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 90%;
}
.final-prototype {
  padding: 2em;
}
.final-prototype-images {
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.final-prototype-images {
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.what-i-learned {
  line-height: 160%;
  margin-top: 1%;
  padding: 2em;
}
.what-i-learned p {
  line-height: 170%;
}
.back-to-top {
  margin: auto;
  margin-top: 1%;
  text-align: center;
}
.back-to-top a {
  color: black;
  text-decoration: none;
}
.up-arrow {
  margin-top: 2%;
  text-align: center;
  width: 30px;
}
/************************************ MOBILE PANTRYBUDDY.HTML PAGE ************************************/
/*** Hero image section ***/
.lg-project-hero {
  background-color: white;
  color: black;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1rem;
  line-height: 140%;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.pantrybuddy-logo {
  margin-top: 20%;
  margin-bottom: 8%;
  width: 50%;
}
.pb-hero-image {
  text-align: center;
  margin-top: 2%;
  width: 100%;
}
.pretty-mock {
  margin: auto;
  width: 100%;
}
article.lg-project-hero {
  text-align: center;
}
.lg-localgems-hero-ctas {
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
.pb-desktop-prototype {
  padding-right: 0px;
}
.pb-mobile-btn {
  background-color: #0D8C75;
  border: 2.2px solid #0D8C75;
  border-radius: 8px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 3%;
  text-decoration: none;
  width: 245px;
}
.pb-mobile-btn a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.pb-mobile-btn:hover {
  background-color: #027863;
  border: 2.2px solid #027863;
  text-decoration: none;
}
.pb-desktop-btn {
  background-color: white;
  border: 2.2px solid #0D8C75;
  border-radius: 8px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: none;
  width: 245px;
}
.pb-desktop-btn a {
  color: #0D8C75;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.pb-desktop-btn:hover {
  background-color: #CCF9DF;
  border: 2.2px solid #027863;
  text-decoration: none;
}
.pb-project-nav-links {
  display: none;
}
.h1-overview {
  text-align: left;
  margin-bottom: 2%;
}
.overview-header {
  padding: 2em;
}
.what-i-did-container {
  padding: 2em;
}
h4.pb-what-i-did {
  color: #0B69DD;
}
.onboarding-sequence {
  margin-top: 5%;
  width: 100%;
}
.green-link {
  color: #0D8C75;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  padding-top: 1%;
}
.pb-h1-heading {
  color: #0D8C75;
}
.pb-h2-heading {
  color: #0B69DD;
  font-family: 'Domine', Georgia, Times, serif;
}
.pb-qualitative-stats {

}
.pb-quantitative-stats {
  display: flex;
  flex-direction: column;
}
.pb-strengths {
  margin-top: 5%;
  color: #0B69DD;
}
.pb-weaknesses {
  color: #E03347;
}
.pb-q-stats-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
.pb-q-stats-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
.pb-q-stats {
  margin-top: 8%;
  width: 100%;
}

.pb-ingredient {
  text-align: center;
  padding-bottom: 2%;
  padding-right: 2%;
  width: 80%;
}
.h2ingredient {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 2%;
  margin-top: 5%;
  text-align: center;
}

.pb-ingredients-row {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  width: 100%;
}
.pb-user-stories {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}
.pb-user-stories-image-container {
  /* display: flex;
  flex-direction: column;
  padding: 2em;
  width: 50%; */
}
.pb-user-stories-image {
  width: 100%;
}
.pb-early-testing {
  padding: 2em;
  width: 100%;
}
.pb-early-testing-copy {
  width: 100%;
}
.pb-early-testing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pb-lofi-wireframe-images {
  width: 100%;
}
.pb-p-testing {
  padding: 2em;
}
.pb-user-testing-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ul-following-changes {
  font-weight: bolder;
}
.changes-made {
  margin-top: 5%;
  text-align: center;
  color: #888888;
}
.pb-branding-images {
  width: 100%;
}
.ptesting-winner {
  margin-top: 5%;
  text-align: center;
  color: #0B69DD;
  font-weight: bolder;
}
.pb-final-logo {
  padding: 1em;
  text-align: center;
}
.pb-u-testing {
  padding: 2em;
}
.following-changes {
  margin-top: 5%;
  text-align: center;
}
.pb-before {
  margin-top: 3%;
  text-align: center;
  width: 100%;
}
.pb-after {
  margin-top: 3%;
  text-align: center;
  width: 100%;
}
.pb-final-prototype-images2 {
  margin-top: 2%;
  text-align: center;
  width: 100%;
}
.pb-final-prototype-images3 {
  margin-top: 2%;
  text-align: center;
  width: 100%;
}


/************************************ MOBILE LOCALGEMS.HTML PAGE ************************************/
/*** Hero image section ***/
.lg-project-hero {
  background-color: white;
  color: black;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1rem;
  line-height: 140%;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.localgems-logo {
  margin-top: 20%;
  margin-bottom: 5%;
}
.localgems-hero-image {
  text-align: center;
  margin-top: 5%;
  width: 100%;
}
article.lg-project-hero {
  text-align: center;
}
.lg-localgems-hero-ctas {
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
.lg-desktop-prototype {
  padding-right: 0px;
}
.lg-desktop-btn {
  background-color: #EC5E63;
  border: 2.2px solid #EC5E63;
  border-radius: 8px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 3%;
  text-decoration: none;
  width: 237.91px;
}
.lg-desktop-btn a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.lg-desktop-btn:hover {
  background-color: #DA555A;
  border: 2.2px solid #DA555A;
  text-decoration: none;
}
.lg-mobile-btn {
  background-color: white;
  border: 2.2px solid #EC5E63;
  border-radius: 8px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: none;
  width: 237.91px;
}
.lg-mobile-btn a {
  color: #EC5E63;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.lg-mobile-btn:hover {
  background-color: #FDDDD1;
  border: 2.2px solid #DA555A;
  text-decoration: none;
}
h4.lg-what-i-did {
  color: #FF8A5B;
}
.red-link {
  color: #EC5E63;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  padding-top: 1%;
}
main.localgems-case-study {
  text-align: left;
  margin-top: 4%;
  margin-bottom: 4%;
}
.lg-project-nav {
  display: none;
}
h1.h1-section {
  font-size: 4rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
  text-align: center;
  padding-bottom: 8%;
  padding-top: 8%;
}
.project-overview {
  text-align: left;
  width: 100%;
}
.what-i-did {
  text-align: left;
}
.role {
  margin-bottom: 5%;
}
.deliverables {
  margin-bottom: 0%;
}
.tools-used {
  margin-bottom: 5%;
}
article.lg-problem {
  margin-bottom: 1%;
  text-align: left;
}
.h1-problem-solution {
  text-align: left;
  margin-bottom: 4%;
}
article.lg-solution {
  flex-direction: column;
  text-align: left;
  width: 100%;
}
.lg-problem-container {
  margin-bottom: 5%;
  padding: 2em;
}
.lg-problem-image{
  width: 100%;
}
.lg-solution-image{
  width: 100%;
}
.lg-solution-container {
  margin-bottom: 3%;
  padding: 2em;
}
.pb-solution-video {
  margin: 5%;
  text-align: center;
  width: 80%;
}
.lg-research-intro {
  background-color: white;
  padding: 2rem;
  width: 100%;
}
hr {
    width: 100%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color:#DEDADA;
    border: 0 none;
    margin-top: 3%;
    margin-bottom: 3%;
}
ul.lg-research-insights {
  list-style-type: circle;
}
article.a-localgems-stats {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  width: 80%;
}
.localgems-stats {
  /* padding: 1%; */
}
.localgems-h1-heading {
  color: #056893;
}
p.lg-facts {
  font-size: 1.6em;
}
.lg-q-stats-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 4%;
}
.localgems-q-stats-p {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 2%;
}
.q-stats-h2 {
  font-family: 'Domine', Georgia, Times, serif;
  margin-bottom: 2%;
}
.q-stats-h2-pain-points-red {
  color: #EC5E63;
  font-family: 'Domine', Georgia, Times, serif;
}
.q-stats-h2-motivations-blue {
  color: #056893;
  font-family: 'Domine', Georgia, Times, serif;
}
.q-stats-h2-features-orange {
  color: #EA561A;
  font-family: 'Domine', Georgia, Times, serif;
}
.competitive-analysis-findings {
  margin-top: 0%;
}
.user-personas {
  padding: 2rem;
}
.lg-persona-container {
  margin-bottom: 10%;
  justify-content: center;
}
.persona-copy {
  margin-top: 5%;
}
/* .jolene {
  width: 80%;
}
.paul {
  padding-top: 5%;
  width: 80%;
} */
/* #persona {
  width: 50%;
} */
article.personas {
  margin-top: 10%;
}
.lg-competitive-analysis {
  padding: 2rem;
  margin-top: 8%;
}
.lg-competitive-analysis-columns {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lg-competitive-analysis-images {
  width: 50%;
}
.lg-competitor {
  width: 100%;
  margin-top: 8%;
}
.lg-strengths {
  color: #056893;
}
.lg-weaknesses {
  color: #EC5E63;
}
.lg-competitor-copy {
  font-size: 1.3em;
}
.lg-comp-findings {
  padding: 2rem;
}
.e-commerce {
  text-align: left;
  padding: 5%;
}
.lg-user-stories {
  background: white;
  text-align: left;
  padding: 1rem;
  width: 100%;
}
.lg-user-stories-strategy {
  margin-top: 5%;
}
.Information-Architecture {
  margin-top: 4%;
  width: 100%;
}
.lg-user-stories-image {
  width: 100%;
  margin: 0 auto
}
.user-flows {
  margin-bottom: 5%;
  padding: 2em;
}
.user-flows2 {
  display: none;
  width: 100%;
}
.lg-user-flows-image {
  width: 100%;
}
.sitemap {
  padding: .5em;
}
.sitemap-image {
  width: 100%;
}
.lg-image-tagline{
  color: #A4A4A4;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}
.lg-sketching {
  padding: 2em;
}
.sketching {
  padding: 2em;
  width: 100%;
}
.sketch-images {
  margin-top: 5%;
  width: 100%;
}

.lg-sketch-wireframe {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  width: 100%;
}

.lg-wireframe-images {
text-align: center;
width: 100%;
}
.user-testing {
  background-color: #EDEBEB;
  padding: 2em;
}
.user-testing-images {
  text-align: center;
  width: 85%;
}
ul.user-testing-changes {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 140%;
  list-style: decimal;
  padding-left: 3%;
}
.branding {
  margin-bottom: 8%;
}
article.branding {
  padding: 2em;
}
.lg-brandguide-images {
  padding: 2em;
  width: 100%;
}
.lg-branding-images {
  width: 100%;
}
article.lg-logo-sketch {
  /* padding: 2em; */
  width: 100%;
}
.lg-logo-sketch {
  width: 100%;
}
.lg-logo-development {
  margin-top: 7%;
  padding: 2em;
}
.lg-logo-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
  width: 100%;
}
.lg-final-logo {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
}
.style-guide {
  margin-bottom: 8%;
}
.lg-style-guide {
  margin-bottom: 1%;
}
article.lg-style-guide {
  padding: 2em;
}
.lg-style-guide {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.lg-user-testing {
  padding: 2em;
}
.lg-user-testing-container {
  padding: 2em;
  text-align: center;
  width: 100%;
}
.hifi-user-testing {
  font-family: 'Muli', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 140%;
  list-style: decimal;
  padding-left: 6%;
}
.lg-changes-made {
  margin-top: 5%;
  text-align: center;
  color: #888888;
}
.lg-user-testing-images {
  margin-top: 2%;
  text-align: center;
  width: 100%;
}
.lg-more-testing {
  padding: 2em;
}
.preference-testing-images {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 90%;
}
.final-prototype {
  padding: 2em;
}
.lg-final-prototype-images {
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.lg-final-prototype-images2 {
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.lg-final {
  padding-right: 5%;
  text-align: left;
  width: 100%;
}
.what-i-learned {
  line-height: 160%;
  margin-top: 1%;
  padding: 2em;
}
.what-i-learned p {
  line-height: 170%;
}
.back-to-top {
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

/************************************ MOBILE ABOUT.HTML PAGE ************************************/
/*** Hero image section ***/
.about-hero {
  background-image: url("../images/homepage/blue-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  padding-top: 17%;
  position: relative;
  text-align: center;
}
h1.title {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 3%;
}
.hero-headshot {
  margin-top: 5%;
  margin-bottom: 5%;
}
p.about-hero-tagline {
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 2.2rem;
  /* padding: 3%; */
  text-align: center;
}

/*** Main bio section ***/
main.bio {
  margin-top: 5%;
  padding: 4%;
  width: 100%;
}
p.about-intro {
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3%;
}
.bio-part-1 {
  text-align: left;
  /* width: 100%; */
}
p.pull-quote {
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 5%;
  text-align: left;
}
.bio-part-2 {
  text-align: left;
  /* width: 100%; */
}
.things-i-love {
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: left;
}
/*************************** CONTACT.HTML***************************/
.form-container {
  display: block;
  margin-bottom: 30%;
  padding-left: 2rem;
  padding-top: 10rem;
  text-align: left;
}
.about-cta {
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
label {
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: left;
  white-space: nowrap;
}
input[type=text], select {
    border: 1px solid #c9c4c4;
    font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    height: 40px;
    margin: 1.3rem 0rem 2rem;
    outline: none;
    padding: 1.2rem 2rem;
    width: 90%;
}
textarea#message {
    border: 1px solid #c9c4c4;
    font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    height: 12rem;
    margin: 1.5rem 0;
    outline: none;
    padding: 2rem;
    resize: none;
    width: 90%;
}
/*************************** Media queries ******************************/

/****************** For tablet *****************/
/*** when screen is larger than than 768px width, it changes to this ***/

/******* Typefaces, styling, colors, buttons high level structure ******/
@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden;
    width: 80rem;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .personal-logo {
    float: left;
  }
  .hamburger-menu {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .nav-menu-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-menu-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: .5em;
    list-style-type: none;
  }
  .nav-menu-links {
    color: black;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    display: flex;
    text-decoration: none;
    list-style-type: none;
  }
  .nav-menu-links:hover {
    color: #86A681;
  }
  .nav-menu-links
  li {
    margin-left: 6rem;
    list-style-type: none;
  }
  /********************* INDEX.HTML PAGE 768 px page******************/

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    width: 80rem;
  }
  .hero-tagline {
    padding-left: 0%;
    padding-right: 5%;
    text-align: left;
  }
  .headshot {
    margin-top: 15%;
    padding-left: 0%;
    padding-right: 0%;
  }
  main.case-studies {
    padding: 3%;
    width: 80rem;
  }
  .case-study-h1-heading {
    margin-bottom: 2%;
  }
  p.case-study-tagline {
    margin-bottom: 5%;
    margin-top: 4%;
  }
  .tag {
    font-size: 1.4rem;
    line-height: 300%;
    margin-top: 3%;
    white-space: nowrap;
  }
  .bounce-arrow {
    margin-top: 15%;
    text-align: center;
    width: 30px;
  }
  .cs {
    margin-top: 3rem;
    padding-top: 3vw;
    text-align: center;
  }
  .case-study-btn {
    margin-bottom: 0%;
    margin-top: 0%;
  }
  .pantrybuddy {
    display: flex;
    /* flex-direction: row;
    margin-top: 8rem; */
    flex-direction: row-reverse;
    margin-top: 3rem;
    text-align: left;
  }
  .localgems {
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    /* flex-direction: row-reverse;
    margin-top: 3rem; */
    text-align: left;
  }
  .localgems-case-study {
    text-align: left;
    width: 90%;
    margin-bottom: 0rem;
  }
  .cloudspark-image {
    width: 90%;
  }
  .cloudspark {
    display: flex;
    /* flex-direction: row;
    margin-top: 8rem; */
    flex-direction: row-reverse;
    margin-top: 8rem;
    text-align: left;
  }
  .cloudspark-case-study {
    text-align: left;
    width: 100%;
    margin-bottom: 0rem;
  }
  .busybus-image {
    text-align: left;
    width: 100%;
  }
  .about-me {
    background-image: url("../images/homepage/blue-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: relative;
    text-align: left;
  }
  article.short-bio {
    width: 90%;
  }
  .short-bio-content {
    margin-bottom: 3%;
  }
  .bio-button {
    text-align: center;
  }
  .four-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .step {
    width: 50%;
  }

  /********************************* PANTRYBUDDY.HTML 768px PAGE *********************************/
  h1.h1-section {
    font-size: 4.5em;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: left;
  }
  .lg-mobile-prototype {
    padding-right: 10px;
  }
  .pantrybuddy-logo {
    margin-bottom: 5%;
    margin-top: 3%;
    justify-content: center;
    width: 30%;
  }
  .pb-project-nav {
    color: white;
    background: #0D8C75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
  }
  .pb-project-nav-links {
    background: #0D8C75;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
  }
  .h1-overview {
    font-size: 3.5em;
    padding-top: 5%;
  }
  .what-i-did-container {
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0em;
    width: 100%;
  }
  .deliverables {
    margin-right: 15%;
  }
  .pb-solution-video {
    margin: 5%;
    text-align: center;
    width: 300px;
  }
  .onboarding-sequence {
    margin-top: 1%;
    width: 100%;
  }
  .pb-quantitative-stats {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
  }
  .pb-stats {
    display: flex;
    flex-direction: column;
  }
  .pb-stats-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 8%;
  }
  .pb-qualitative-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .pb-q-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .pb-q-stats {
    margin-right: 8%;
    width: 100%;
  }
  .pb-user-stories-image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .pb-user-stories-image {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .pb-early-testing {
    width: 100%;
  }
  .pb-p-testing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .pb-p-testing-copy {
    margin-right: 5%;
    width: 100%;
  }
  .pb-user-testing-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .following-changes {
    text-align: center;
  }
  .pb-before {
    margin-top: 3%;
    text-align: center;
    width: 80%;
  }
  .pb-after {
    margin-top: 3%;
    text-align: center;
    width: 80%;
  }
  .pb-branding-images {
    width: 100%;
  }
  .pb-final-prototype-images {
    width: 80%;
  }
  .pb-final-prototype-images2 {
    width: 80%;
  }
  .pb-final-prototype-images3 {
    width: 100%;
  }
/********************************* CLOUDSPARK PROJECT.HTML 768px PAGE *********************************/
h1.h1-section {
  font-size: 4.5em;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: left;
}
h1.footer {
  text-align: center;
  font-size: 3em;
}
h3 {
  font-size: 1.8rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 160%;
}
h4 {
  font-size: 2.2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  text-align: left;
}
article {
  text-align: left;
}
.project-hero {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  width: 80rem;
}
article.cloudspark-hero {
  display: flex;
  flex-direction: column;
  line-height: 160%;
  padding-right: 5%;
  text-align: left;
  width: 80rem;
}
.cloudspark-logo {
  margin-bottom: 8%;
  text-align: left;
  width: 60%;
}
.cloud-spark-tagline {
  line-height: 160%;
  margin-bottom: 3%;
  text-align: left;
}
.purple-link {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 5%;
  padding-top: 1%;
}
.purple-link:hover {
  font-size: 2.1rem;
  font-weight: 600;
}
.cloudspark-hero-image {

}

.project-nav {
  color: white;
  background: #4A23F1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.project-nav-links {
  background: #4A23F1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.p-links a {
  color: white;
  font-size: .75em;
  font-weight: normal;
  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
}
main.localgems-case-study {
  text-align: left;
  width: 100%;
}
.project-overview {
  width: 80rem;
}
.what-i-did {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 160%;
  text-align: left;
  width: 100%;
}
p.what-i-did {
  font-size: 2em;
}
.overview-header {
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 0em;
  padding-right: 0em;
  text-align: left;
}
/* .role {
width: 28%;
}
.deliverables {
width: 37%;
}
.tools-used {
width: 30%;
} */
.problem-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  padding: 0em;
}
article.problem {
  flex-direction: column;
  justify-content: flex-start;
}
.problem-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5%;
}
.research-discovery {
  width: 100%;
}
.research-intro {
  background: #EDEBEB;
  margin: 0 auto;
  width: 100%;
}
.research-insights {
  display: flex;
  flex-direction: row-reverse;
}
article.research {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  width: 100%;
}
.three-insights {
  padding-bottom: 4%;
  padding-top: 4%;
}
.research-image {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  width: 90%;
}
.user-personas {
  text-align: left;
}
.persona-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  margin-left: 0%;
  /* margin-left: 0%;
  margin-right: 0%;
  padding-left: 0%; */
}
.persona-images {
  text-align: center;
  width: 200px;
}
.jolene {
  padding: 5%;
  width: 30%;
}
.paul {
  padding: 5%;
  width: 30%;
}
.competitive-analysis {
  padding-top: 6%;
  width: 100%;
  margin-bottom: 1%;
}
.competitive-analysis-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropbox-vs-evernote {
  text-align: left;
  margin-left: 0%;
  padding: 5%;
}
.user-stories {
  margin-bottom: 5%;
}
.user-stories-container {
  background: #EBE8E8;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
article.user-stories {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 100%;
}
.user-stories-image {
  padding-top: 5%;
}
.Information-Architecture {
  margin-top: 0%;
  width: 100%;
}
.user-flows {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  padding: 0em;
  width: 100%;
}
.user-flows-image {
  /* display: none; */
}
.user-flows2 {
display: flex;
margin-top: 3%;
width: 90%;
}
article.sketching {
  padding-top: 10%;
}
.sketch-images {
  width: 100%;
}
.sketching {
  padding: 0em;
}
.wireframe {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  width: 100%;
}
.wireframe-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1%;
  padding-bottom: 5%;
  width: 100%;
}
.user-testing {
  background-color: #EDEBEB;
  padding-left: 0em;
  text-align: left;
}
article.user-testing {
}
.user-testing-images {
  text-align: left;
}
.Visual-Design {
  width: 100%;
}
.branding {
  margin-bottom: 5%;
  width: 100%;
}
article.branding {
  padding: 0em;
}
.branding-image-container {
  display: flex;
  flex-direction: column;
}
.branding-images {
  align-self: center;
  display: flex;
  width: 100%;
}
.logo-image {
  padding-top: 3%;
  padding-bottom: 4%;
}
article.style-guide {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0%;
}
.cs-moodboard {
  width: 100%;
}
.cs-brand-colors {
  padding: 0%;
  width: 100%;
}
.cs-asset-images {
  display: flex;
  flex-direction: row;
  padding: 2%;
  width: 100%;
}
.logo-development{
  text-align: left;
}
.style-guide {
  text-align: center;
  margin-bottom: 0%;
}
h4.style-guide{
  text-align: center;
}
.preference-testing {
padding-top: 4%;
padding-bottom: 4%;
}
.preference-testing-images {
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: center;
width: 100%;
}
.ptesting {
  display: flex;
  padding-right: 5%;
}
.final-prototype-images {
  width: 100%;
}
.final {
  display: inline-flex;
  justify-content: space-between;
  padding: 5%;
}

article.what-i-learned {
  line-height: 180%;
  width: 100%;
}

/********************************* 768px LOCALGEMS.HTML PAGE *********************************/
h1.h1-problem-solution {
  font-size: 3.5em;
  padding-bottom: 6%;
  padding-top: 5%;
}
h1.footer {
  text-align: center;
  font-size: 3em;
}
h3 {
  font-size: 1.8rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 160%;
}
h4 {
  font-size: 2.2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 160%;
  text-align: left;
}
article {
  /* text-align: left; */
}
.lg-project-hero {
  text-align: center;
  margin-top: 8%;
  width: 80rem;
}
.localgems-logo {
  margin-bottom: 5%;
  margin-top: 3%;
  justify-content: center;
}
.lg-tagline {
  line-height: 160%;
  text-align: center;
}
.lg-localgems-hero-ctas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.lg-desktop-prototype {
  padding-right: 10px;
}
.red-link {
  font-size: 1.5em;
  padding-bottom: 5%;
  padding-top: 1%;
}
.cloudspark-hero-image {

}
.lg-project-nav {
  color: white;
  background: #EC5E63;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.lg-project-nav-links {
  background: #EC5E63;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.p-links a {
  color: white;
  font-size: .75em;
  font-weight: normal;
  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
}
main.localgems-case-study {
  text-align: left;
  width: 100%;
}
.project-overview {
  width: 80rem;
}
.what-i-did {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 160%;
  text-align: left;
  width: 100%;
}
p.what-i-did {
  font-size: 2em;
}

/* .role {
width: 28%;
}
.deliverables {
width: 37%;
}
.tools-used {
width: 30%;
} */
.lg-problem-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;
  padding: 0em;
  width: 100%;
}
.lg-solution-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
  width: 100%;
}
article.lg-problem {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-right: 5%;
}
article.lg-solution {
  flex-direction: column;
  width: 100%;
  padding-right: 5%;
}
.lg-problem-image {
  width: 100%;
}
.lg-solution-image {
  width: 100%;
}
.research-discovery {
  width: 100%;
}
.lg-research-intro {
  background-color: white;
  margin: 0 auto;
  width: 100%;
}
article.lg-research {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 100%;
}
article.a-localgems-stats {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
.localgems-stats {
  padding: 2%;
}
.lg-q-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}
.pain-points {
  width: 40%;
}
.pain-points-stats {
  width: 50%;
}
.three-insights {
  padding-bottom: 4%;
  padding-top: 4%;
}
.user-personas {
  text-align: left;
}
.lg-persona-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}
.persona-images {
  text-align: center;
  width: 227.91px;
}
.jolene {
  width: 100%;
}
.paul {
  width: 100%;
}
.competitive-analysis {
  padding-top: 6%;
  width: 100%;
  margin-bottom: 1%;
}
.lg-competitive-analysis-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 0rem;
}
.lg-competitive-analysis-images {
  width: 70%;
  /* padding-bottom: 2%; */
}
.lg-competitor {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.user-stories {
  margin-bottom: 5%;
}
.lg-user-stories-container {
  background: white;
  text-align: left;
  width: 100%;
  /* flex-direction: row-reverse;
  justify-content: space-between; */
}
article.lg-user-stories {
  display: block;
  /* flex-direction: column;
  padding-left: 10%; */
  width: 100%;
}
.lg-user-stories-image {
  /* padding-top: 1%; */
}
.Information-Architecture {
  margin-top: 0%;
  width: 100%;
}
.user-flows {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  padding: 0em;
  width: 100%;
}
.lg-user-flows-image {
  /* display: none; */
  width: 100%;
}
.user-flows2 {
display: flex;
width: 90%;
}
article.sketching {
  padding-top: 10%;
}
.lg-image-tagline {
  text-align: center;
}
.sketch-images {
  width: 100%;
}
.sketching {
  padding: 0em;
}
.lg-sketch-wireframe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5%;
  width: 100%;
}
.lg-wireframe {
  /* margin-top: 2%; */
  padding-left: 2%;
  /* width: 100%; */
}
.lg-wireframe-images {
  width: 100%;
}
.user-testing {
  background-color: #EDEBEB;
  padding-left: 0em;
  text-align: left;
}
article.user-testing {
}
.user-testing-images {
  text-align: left;
}
.Visual-Design {
  width: 100%;
}
.branding {
  margin-bottom: 5%;
  width: 100%;
}
article.branding {
  padding: 0em;
}
.lg-branding-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lg-branding-images {
  align-self: center;
  padding-right: 1%;
  width: 100%;
}
.lg-logo-image {
  width: 100%;
}
article.lg-style-guide {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.lg-style-guide {
  display: flex;
  flex-direction: row;
}
.lg-logo-development {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: left;
  margin-top: 5%;
}
article.lg-logo-sketch {
  padding-left: 3%;
  padding-top: 1%;
  width: 100%;
}
.final-logo-container {
  /* display: flex;
  flex-direction: column; */
  /* width: 100%; */
}
.style-guide {
  text-align: left;
}
h4.style-guide{
  text-align: left;
}
.lg-more-testing {
 /* padding: 2em; */
}
.lg-user-testing-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
}
.lg-before {
  margin-top: 3%;
  text-align: center;
  width: 80%;
}
.lg-after {
  margin-top: 3%;
  text-align: center;
  width: 80%;
}
.preference-testing-images {
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: center;
width: 100%;
}
.ptesting {
  display: flex;
  padding-right: 5%;
}
.lg-final-prototype-images {
  width: 100%;
}
.lg-final-prototype-images {
  align-content: center;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.lg-final-prototype-images2 {
  align-content: center;
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
}
.lg-prototype {
  padding-left: 2%;
  width: 100%;
}
.lg-final {
  text-align: left;
  width: 100%;
}
article.what-i-learned {
  line-height: 180%;
  width: 100%;
}

/************************* 768px ABOUT.HTML PAGE *************************/
.selected-nav-menu-links {
  color: #86A681;
  text-decoration: none;
}
.selected-nav-menu-links a {
  color: #86A681;
  text-decoration: none;
}
.about-hero {
  background-image: url("../images/homepage/blue-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.bio-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: left;
  padding: 5%;
  width: 100%;
}
.hero-copy {
  text-align: left;
  padding-top: 13%;
  width: 50%;
}
p.about-hero-tagline {
  font-family: 'Domine', Georgia, Times, serif;
  padding-left: 5%;
  padding: 0%;
  font-size: 2rem;
  text-align: left;
}
.hero-headshot {
  width: 30%;
}
h1.title {
  font-weight: bold;
  font-size: 3.2rem;
  margin-top: 0%;
}
p.pull-quote {
  font-size: 2.2rem;
}
.about-intro {
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3%;
}
/*************************** 768px CONTACT.HTML***************************/
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 25rem;
  padding-top: 15rem;
  width: 80rem;
}
.about-cta {
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
label {
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: left;
  white-space: nowrap;
}
input[type=text], select {
    font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    height: 40px;
    margin: 1.3rem 0rem 2rem;
    outline: none;
    padding: 1.2rem 2rem;
    text-align: left;
}
textarea#message {
    border: 1px solid #c9c4c4;
    font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    height: 12rem;
    margin: 1.5rem 0;
    outline: none;
    padding: 2rem;
    text-align: left;
    resize: none;
    width: 50rem;
}


/********************* For desktop *********************/
/*** when screen is larger than 1024px width, it changes to this ***/
@media screen and (min-width: 1024px) {
/********** Typefaces, styling, colors, buttons high level structure **********/
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100rem;
  }
  .lg-nav-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 120rem;
  }
  .large-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 150rem;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .hero {
    width: 100%;
  }

/********************* DESKTOP INDEX.HTML PAGE******************/
  main.case-studies {
    width: 100rem;
  }
  .tag {
    font-size: 1.6rem;
    line-height: 200%;
    white-space: nowrap;
  }
  .case-study-btn {
    /**font-size: 1.2em;***/
    margin-top: 0%;
    text-decoration: none;
  }
  .localgems-case-study {
    text-align: left;
    /* width: 100rem; */
  }
  .cloudspark-case-study {
    text-align: left;
    /* width: 100rem; */
  }
  #cloudspark-image {
    text-align: right;
    width: 90%;
  }
  #busybus-image {
    text-align: right;
    width: 90%;
  }
  .about-me {
    background-image: url("../images/homepage/blue-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    text-align: left;
  }
  article.short-bio {
    margin: auto;
    max-width: 728px;
  }
  p.process-tagline {
    font-size: 2rem;
  }
  p.bold {
    font-size: 2rem;
    font-weight: 500;
  }
  .list {
    line-height: 180%;
    list-style-type: none;
    font-size: 2rem;
    padding-left: 0px;
  }
  article.process-tagline {
    text-align: center;
    margin-bottom: 2%;
  }
  .four-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
  }
  .step {
    width: 25%;
  }
  .testimonials {
    background: #EBE8E8;
    text-align: center;
    line-height: 200%;
    width: 100%;
  }
  h1.what_ppl_think {
    padding-top: 4%;
  }
  /* The dots/bullets/indicators */
  .dot {
    /* margin-bottom: 40; */
  }
  /**************************** 1024px PANTRYBUDDY PROJECT.HTML PAGE **************************/
  .project-hero {
    width: 100%;
  }
  .p-links a {
    color: white;
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 4%;
    padding-top: 4%;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
  }
  main.cloudspark-case-study {
    width: 100%;
  }
  .pb-final-prototype-images2 {
    width: 80%;
  }
/**************************** 1024px CLOUDSPARK PROJECT.HTML PAGE **************************/
.project-hero {
  width: 100%;
}
.p-links a {
  color: white;
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
}
main.cloudspark-case-study {
  width: 100%;
}
.project-overview {
  width: 100%;
}
.final-prototype-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.final {
  padding: 0%;
}

/**************************** 1024 px LOCALGEMS.HTML PAGE **************************/
.lg-project-hero {
  width: 100%;
}
.localgems-logo {
  margin-bottom: 5%;
  margin-top: 1%;
  justify-content: center;
}
.lg-localgems-hero-ctas {
  justify-content: center;
  text-align: center;
  margin-top: 1%;
}
.localgems-hero-image {
  margin-top: 1%;
}
.p-links a {
  color: white;
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
}
main.localgems-case-study {
  width: 100%;
}
.project-overview {
  width: 100%;
}
.lg-final-prototype-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.lg-final-prototype-images2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.lg-final {
  width: 100%;
}
/********************* 1024 px ABOUT.HTML PAGE******************/
.about-hero {
  background-image: url("../images/bio/blue-pattern2.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 2rem;
  line-height: 140%;
  padding-top: 8%;
  width: 100%;
}

.bio-intro {
  /* padding: 2%; */
  width: 100%;
}
.hero-copy {
  width: 60%;
}
p.about-hero-tagline {
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 3rem;
  text-align: left;
}
.hero-headshot {
  margin-top: 8%;
}
main.bio {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  width: 100rem;
}


}
