* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  background-color: white;
  width: 100%;
}

body {
  background-color: white;
}

p {
  font-size: 2rem;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  line-height: 160%;
}

h1 {
  font-size: 3rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
}

header {
  /* width: 100%; */
}

/*** Navigation bar ***/
.nav {
  align-items: center;
  background-color: white;
  margin: auto;
  position: fixed;
  padding: 2rem;
  width: 100%;
  z-index: 10;
  /* width: 100vw;
  padding: 10vh 15vw 5vh 15vw; */
}
.nav-menu-container {
  display: none;
}
.personal-logo {
  float: left;
}
.hamburger-menu {
  float: right;
}
h1.greeting {
  font-size: 3rem
}
h3.tagline {
  font-size: 2rem;
}
/*** Case studies section ***/
main.case-studies {
  text-align: center;
  margin-top: 4%;
}
.case-study-tagline {
  margin-top: 3%;
}
.case-study-btn {
  color: #0E8F8F;
  border: 2px solid #0E8F8F;
  border-radius: 8px;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: none;
}
.case-study-btn a {
  color: #0E8F8F;
  font-size: 1.4em;
  text-decoration: none;
}

/*** Hero image section ***/
.hero {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  width: 100%;
}

.hero-tagline {
  margin-top: 20%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 160%;
}

h1.greeting {
  font-weight: 550;
  line-height: 170%;
}

.featured-work {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.down-arrow {
  padding: .5em;
  width: 20px;
}
.tag {
  color: #414A4C;
  border-radius: 20px;
  border: 2px solid #414A4C;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 28px;
  margin-right: 2px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}
.case-study-tagline {
  line-height: 160%;
}
.cloudspark {
  text-align: center;
}
#cloudspark-image {
  text-align: center;
  width: 90%;
}
#busybus-image {
  text-align: center;
  width: 90%;
}
.about-me {
  background-image: url("../images/homepage/blue-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2em;
  line-height: 200%;
  margin-top: 10%;
  position: relative;
  text-align: left;
}
article.short-bio {
  /* position: absolute;
  top: 50%;
  left: 50%;
  line-height: 200%;
  transform: translate(-50%, -50%);
  width: 90%; */
  /* position: relative;
  width: 70%; */
}
.bio-imagery {

}
.bio-imagery img {

}
.green-button {
  background-color: #86A681;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
}

.design-process {
  font-size: 1.4em;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  margin: 2em;
  text-align: center;
}

p.process-tagline {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 180%;
  padding: 5%;
  text-align: center;
}
.process-icon {
  text-align: center;
  padding-top: 4%;
  width: 100%;
}
.list {
  line-height: 140%;
  font-size: 1.4rem;
}
.four-steps {
  display: block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: center;
}
p.bold {
  padding-top: 2%;
  font-weight: 1000;
}
.testimonials {
  background: #EBE8E8;
  text-align: center;
  line-height: 200%;
  margin: 0 -9999rem;
  padding: 5rem 9999rem;
}

footer {
  text-align: center;
  padding: 4em;
}
.footer-cta {
  padding: 4em;
  text-align: center;
}
.social-media-icons {
  background-color: white;
  color: #86A681;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  text-decoration: none;
}
.social-media-icons a {
  text-decoration: none;
}
/** controls size of social media icons **/
.social-media-icons > ul {
  margin: auto;
  display: flex;
}
address {
  padding: 1em;
}

/*** Media queries ***/

/*** For tablet ***/
/*** when screen is larger than than 768px width, it changes to this ***/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    font-family: 'Domine', Georgia, Times, serif;
    line-height: 160%;
  }
  header {

  }
  .container {
    /* max-width: 768px; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80rem;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80rem;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-menu-links {
    color: black;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    display: flex;
    text-decoration: none;
  }
  .nav-menu-links
  li {
    margin-left: 6rem;
  }
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80rem;
  }
  .hero-tagline {
    padding-left: 0%;
    padding-right: 5%;
    text-align: left;
  }
  .headshot {
    margin-top: 15%;
    padding-left: 0%;
    padding-right: 0%;
  }
  main.case-studies {
    text-align: left;
    width: 80rem;
  }
  .cloudspark {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    text-align: left;
  }
  .cloudspark-case-study {
    margin-left: 3rem;
    text-align: left;
  }
  .busy-bus {
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
  }
  .busybus-case-study {
    margin-right: 3rem;
    text-align: left;
  }
  .busybus-image {
    text-align: right;
  }
  .about-me {
    background-image: url("../images/homepage/blue-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    line-height: 200%;
    margin-top: 10%;
    position: relative;
    text-align: left;
  }
  .short-bio {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    line-height: 230%;
    transform: translate(-50%, -50%);
    width: 70%; */
  }
  .four-steps {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*** For desktop ***/
/*** when screen is larger than 1024px width, it changes to this ***/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    font-family: 'Domine', Georgia, Times, serif;
    line-height: 160%;
  }
  p {
    font-size: 2rem;
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    line-height: 160%;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* max-width: 1024px; */
    width: 100rem;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100rem;
  }
  .hero {
    width: 100rem;
  }
  main.case-studies {
    width: 100rem;
  }
  .tag {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .case-study-btn {
    font-size: 1.4em;
    text-decoration: none;
  }
  .cloudspark-case-study {
    text-align: left;
    width: 100rem;
  }
  .busybus-case-study {
    text-align: left;
    width: 100rem;
  }
  #cloudspark-image {
    text-align: left;
    width: 470px;
  }
  #busybus-image {
    text-align: right;
    width: 470px;
  }
  .about-me {
    background-image: url("../images/homepage/blue-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    line-height: 200%;
    margin-top: 10%;
    position: relative;
    text-align: left;
  }
  article.short-bio {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    line-height: 200%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  p.process-tagline {
    font-size: 2rem;
  }
  p.bold {
    font-size: 2rem;
    font-weight: 1000;
    padding-top: 2%;
  }
  .list {
    line-height: 160%;
    font-size: 1.8rem;
  }
  .testimonials {

  }


}
