* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  background-color: white;
  width: 100%;
}

body {
  background-color: red;
}

p {
  font-size: 1.6rem;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-family: 'Domine', Georgia, Times, serif;
  line-height: 160%;
}

header {
  width: 100%;
}

/*** Navigation bar ***/
.nav {
  background-color: white;
  margin: auto;
  padding: 1.6rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.personal-logo {
  float: left;
  padding-top: 2%;
}

.nav-menu {
  float: right;
  display: inline-flex;
}

.nav-menu-links {
  color: black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  float: right;
  padding-top: 8%;
  padding: 2rem;
  text-decoration: none;
}

/*** Case studies section ***/
.case-studies {
  text-align: center;
}

/*** Hero image section ***/
.hero {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Domine', Georgia, Times, serif;
  font-size: 1.8rem;
  line-height: 140%;
  padding: 3rem;
  text-align: center;
  width: 100%;
}

.hero-tagline {
  margin-top: 25%;
  margin-bottom: 5%;
}

h1.greeting {
  font-weight: 550;
  line-height: 170%;
}

p.tagline {
  font-family: 'Domine', Georgia, Times, serif;
}

.headshot {
  padding: 1.9rem;
}

.featured-work {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  padding: 2rem;
  text-align: center;
}

.down-arrow {
  padding: .5em;
  width: 20px;
}

main.case-studies {
  text-align: center;;
}

#cloudspark-image {
  text-align: center;
  width: 100%;
}
#busybus-image {
  text-align: center;
  width: 100%;
}

.about-me {
  font-size: 1em;
  line-height: 200%;
  position: relative;
  text-align: center;
}

article.short-bio {
  position: absolute;
  top: 50%;
  left: 50%;
  /* line-height: 140%; */
  /* padding: 4%; */
  transform: translate(-50%, -50%);
  width: 80%;
}
.bio-imagery {
  object-fit: cover;
  width: 100%;
}

.green-button {
  background-color: #86A681;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.4em;
}

.design-process {
  font-size: 1.3em;
  font-family: 'Montserrat', 'Muli', Helvetica, Arial, sans-serif;
  margin: 4em;
  text-align: center;
}

.process-tagline {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 180%;
  text-align: center;
}

.four-steps {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: center;
}

.testimonials {
  background: #EBE8E8;
  padding: 4em;
  text-align: center;
  line-height: 200%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 7%;
  padding-bottom: 7%;
}

footer {
  text-align: center;
  padding: 4em;
}
.footer-cta {
  padding: 4em;
  text-align: center;
}
.footer-icons{
  display: inline-flex;
  padding: 4em;
}
address {
  padding: 1em;
}

/*** Media queries ***/

/*** For tablet ***/
/*** when screen is larger than than 768px width, it changes to this ***/
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 70rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .personal-logo {
    justify-content: flex-start;
  }
  .nav-menu {
    justify-content: flex-end;
  }
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-tagline {
    justify-content: flex-start;
    text-align: left;
    width: 50%;
  }
  .headshot {
    justify-content: flex-end;
    margin-top: 10%;
    margin-right: 10%;
    width: 30%;
  }
  .main.case-studies {
    display: flex;
    width: 100%;
  }
  .cloudspark {
    display: flex;
    flex-direction: row;
    padding: 1.4rem;
    text-align: left;
  }
  article.cloudspark {
    display: flex;
    flex-direction: column;
  }

  .busy-bus {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.4rem;
    text-align: left;
  }
  .about-me {
    position: relative;
    text-align: left;
    line-height: 140%;
}
  .short-bio {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 230%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  .four-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*** For desktop ***/
/*** when screen is larger than 1024px width, it changes to this ***/
@media screen and (min-width: 1024px) {
  .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100rem;
  }
}
